/* Body styling */
.body-container {
  padding: 5px 10px;
}

.content-container {
  width: 70vw;
  margin: 10vh auto 0;
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgb(230, 0, 233);
  border-bottom-color: rgb(52, 90, 224);
}

.logo {
  cursor: pointer;
  height: 50px;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}
.nav_links li a {
  font-size: 30px;
  font-weight: 500;
  color: rgb(80, 80, 80);
  padding: 5px 10px;
  text-decoration: none;


  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233,0.6) ;
  border-bottom-color: rgba(52, 90, 224, 0.6);

  font-family: "Oxygen", sans-serif;
}
.nav_links li a:hover {
  border-width: 6px;
}

#header-contact{
  box-shadow: 0px 0px 5px;
}
/* Contact Form styling */

.title {
  text-align: center;
  font-size: 50px;
  color: #454545;
  text-shadow: 1px 1px 0 rgba(white, 1);
}
.in-dev {
  text-align: center;
  font-size: 60px;
  color: darkgoldenrod;
}
.warning {
  text-align: center;
  font-size: 30px;
  color: #d81010;
}
form {
  max-width: 700px;
  text-align: center;
  margin: 20px auto;
  padding: 20px 3px;
  background-color: #d2d2d2;
  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
}
input {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 310px;
  margin: 1em;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  resize: none;
}
textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 296px;
  margin: 1em;
  font-family: "Merriweather", sans-serif;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  resize: none;
}
input,
textarea:focus {
  box-shadow: 0 0px 2px rgba(red, 1) !important;
}
#input-submit {
  font-size: 20px;
  width: 310;
  margin: 0px auto;
  color: white;
  background: red;
  cursor: pointer;
}
#input-submit:hover {
  background: rgb(255, 54, 54);
}
textarea {
  margin-top: 22px;
  height: 148px;
}
.half {
  float: left;
  width: 310px;
  margin-bottom: 1em;
}

.right {
  width: 310px;
  margin-left: 3%;
}
.left {
  margin-right: 3%;
}
input {
  margin-top: 22px;
}

/* Media Break Points */
@media (max-width: 800px) {
  form {
    padding: 10px;
  }
  .half {
    float: none;
    width: 100%;
  }
  .left {
    width: 310;
    margin: 0px 0;
  }
  .right {
    margin: 0;
  }
  input {
    margin-left: auto;
    margin-right: auto;
  }
  textarea {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .half {
    width: 100%;
    margin-bottom: 0;
  }
}
