/* Body styling */
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
.body-container {
  padding: 5px 10px;
}

.content-container {
  width: 70vw;
  margin: 10vh auto 0;
}
/* Header styling */

.headerContainer {
  padding: 5px;
  height: 60px;
  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);
}
.logo {
  height: 70%;
  margin-left: 15px;
  margin-top: 10px;
  /* margin-bottom: -55px; */
}
nav ul {
  margin: 10px auto;
  float: right;
  margin-top: -43px;
  margin-right: 20px;
}
nav ul li {
  display: inline;
  text-align: center;
  margin-left: 15px;
}
.nav_links {
  overflow: visible;
  padding: 5px;
}

.hamBtn {
  display: none;
  overflow: visible;
  color: rgb(80, 80, 80);
  text-decoration: none;
  font-family: "PT Serif", serif;
  padding: 10px 9px 5px 8px;
  margin-left: 20px;
  margin-top: -4px;
  background-color: #fff;

  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);
}
.hamBtn img {
  height: 18px;
}
.nav_link {
  font-size: 20px;
  font-weight: 500;
  color: rgb(80, 80, 80);
  padding: 5px 8px;
  text-decoration: none;
  font-family: "PT Serif", serif;
  background-color: #fff;

  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);
}
.nav_link:hover {
  box-shadow: 0 0 5px;
}
/* Content styling */

#upBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  cursor: pointer;
    font-size: 20px;
  font-weight: 500;
  color: rgb(80, 80, 80);
  padding: 8px 10px;
  text-decoration: none;
  font-family: "PT Serif", serif;
  background-color: #fff;

  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);
}
#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.intro {
  width: 80%;
  margin: 0 auto;

  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);
}
.title-h1 {
  font-size: 24px;
  font-weight: 500;
  margin-left: 5%;
  font-family: "PT Serif", serif;
}
.title-h2 {
  text-decoration: none;
  font-family: "PT Serif", serif;
  width: fit-content;
  margin: 20px auto;
}
.title-h3 {
  font-family: "PT Serif", serif;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  color: rgb(52, 90, 224);
}
.title-h4 {
  font-family: "PT Serif", serif;
  text-align: center;
  /* margin-top: 50px; */
  font-size: 16px;
}
.warningP {
  color: red;
  font-family: "PT Serif", serif;
  width: fit-content;
  margin: 20px auto;
}
#title-name {
  font-size: 40px;
  margin: 1% 0 1% 10%;
  font-family: "PT Serif", serif;
}
.description {
  padding: 0 0 10px 0;
  margin: 10px 10px 20px 5%;
  font-size: 20px;
  font-weight: 500;
  font-family: "PT Serif", serif;
}

.social {
  display: flex;
}
#social-item-list {
  margin: 5px auto;
  width: fit-content;
}
.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 20px;
  color: rgba(52, 90, 224, 1);
}
.fa:hover {
  opacity: 0.7;
}
/* Skills Section Styling */
/* Projects Section Styling */

#projects-title {
  text-align: center;
}
/* .projectsSection{
} */
#projects-item-list {
  display: flex;
  margin: 5px auto 20px;
  width: fit-content;
}

/* --------------------- MODAL ---------------------------- */


.imgIcon{
  display: flex;
}
#arpoiappImg {
  margin: 10px auto;
 width: 150px;
 height: 150px;
}
.projectHost {
  background-color: #555;
  text-decoration: none;
  color: rgb(80, 80, 80);
  font-size: 20px;
  font-weight: 500;
  font-family: "PT Serif", serif;
  text-align: center;
}
.open-modal {
  font-weight: bold;
  /* padding: 0.75rem 0.75rem; */
  padding-bottom: 10px;
  margin: 10px 20px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  max-width: 800px;
  max-height: 80vh;
  background: var(--white);
  background-color: rgb(255, 255, 255);
  overflow: auto;
  cursor: default;

  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);
}

.modal-dialog > * {
  padding: 20px;
}


.techUsed{
  width: fit-content;
  margin: 0 auto;
  padding: 0;
}
.techIcon{
  width: 70px;
  height: 70px;
  padding: 5px;
  margin: 0;
}

/* Contact Form styling */

form {
  max-width: 700px;
  margin: 0px auto;
  padding: 20px 3px;
  background-color: rgba(52, 90, 224, 0.15);
  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);
}
#contactP {
  width: 80%;
  margin: 20px auto;
}
input {
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 8px;
  display: block;
  width: 70%;
  margin: 20px auto;
  resize: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "PT Serif", serif;
}
input:focus {
  box-shadow: 0px 0px 5px;
}
textarea {
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 8px;
  display: block;
  width: 70%;
  height: 150px;
  margin: 20px auto;
  font-family: "PT Serif", serif;
  resize: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "PT Serif", serif;
}
textarea:focus {
  box-shadow: 0px 0px 5px;
}
#inputSubmit {
  width: 50%;
  margin-top: 35px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(80, 80, 80);
  background-color: white;
  padding: 5px 10px;
  text-decoration: none;
  font-family: "PT Serif", serif;

  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);
  box-shadow: 0px 0px 5px;
}
#inputSubmit:hover {
  box-shadow: 0px 0px 10px;
}



/* ------------ Media Break Points ------------------- */
@media (max-width: 1312px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 800px) {

.logo{
  height: 70%;
}  
.content-container {
  width: 80vw;
  margin: 10vh auto 0;
}

  nav ul {
    float: right;
  }
  .nav_link {
    display: none;
    text-decoration: none;
  }
  .hamBtn {
    display: block;
    position: relative;
    width: 40px;
  }
  .nav_links.responsive {
    right: 25px;
    top: 54px;
  }
  .nav_links.responsive .hamBtn {
    left: 11px;
  }
  .nav_links {
    overflow: visible;
    z-index: 1;
    position: absolute;
    right: 25px;
    top: 54px;
  }
  .nav_links.responsive a {
    display: block;
  }
  .title-h1 {
    font-size: 16px;
  }
  #title-name {
    font-size: 26px;
  }
  .description {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .content-container {
  width: 90vw;
  margin: 10vh auto 0;
}
.headerContainer{
  height: 50px;
}
.logo{
  height: 60%;
}
.hamBtn{
  padding: 8px 5px 4px 5px;
  top: -6px;
}
.intro {
  width: 90%;
}
#projects-item-list {
  display: block;
}


}
/* Galaxy S20 FE break point is 412px */
@media (max-width: 412px) {
}

/*  Footer styling */
