/* Body styling */
.body-container {
  padding: 5px 10px;
}

.content-container {
  width: 70vw;
  margin: 10vh auto 0;
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgb(230, 0, 233);
  border-bottom-color: rgb(52, 90, 224);
  margin-bottom: -50px;
}

.logo {
  cursor: pointer;
  height: 50px;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}
.nav_links li a {
  font-size: 20px;
  font-weight: 500;
  color: rgb(80, 80, 80);
  padding: 5px 10px;
  text-decoration: none;
  font-family: "PT Serif", serif;

  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 0.6);
  border-bottom-color: rgba(52, 90, 224, 0.6);
}
.nav_links li a:hover {
  box-shadow: 0px 0px 5px;
}


/* Content styling */

#topBtn{
  display: none; 
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#topBtn:hover{
    background-color: #555; /* Add a dark-grey background on hover */
}

.intro {
  width: 80%;
  margin: 0 auto;

  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);
}
.title-h1 {
  font-size: 22px;
  font-weight: 500;
  margin-left: 5%;
  font-family: "PT Serif", serif;
}
.title-h2 {
  font-family: "PT Serif", serif;
  width: fit-content;
  margin: 20px auto;
}
.title-h3 {
  font-family: "PT Serif", serif;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;  
  color: rgb(52, 90, 224);
}
.warningP {
  color: red;
   font-family: "PT Serif", serif;
  width: fit-content;
  margin: 20px auto;
}
#title-name {
  font-size: 60px;
  margin: 3% 0 3% 10%;
  font-family: "PT Serif", serif;
}
.description {
  padding: 0 0 10px 0;
  margin: 10px 10px 20px 5%;
  font-size: 22px;
  font-weight: 500;
  font-family: "PT Serif", serif;
}

.social {
  display: flex;
}
#social-item-list {
  margin: 5px auto;
  width: fit-content;
}
.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 20px;
  /* background-color: #d81010; */
  color: rgba(52, 90, 224, 1);
}
.fa:hover {
  opacity: 0.7;
}
/* Skills Section Styling */
/* Projects Section Styling */
/* Contact Form styling */


form {
  max-width: 700px;
  margin: 0px auto;
  padding: 20px 3px;
  background-color: rgba(52, 90, 224, 0.15);
  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);


}
input {
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 8px;
  display: block;
  width: 350px;
  margin: 20px auto;
  resize: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "PT Serif", serif;

}
input:focus {
  box-shadow: 0px 0px 5px;
}
textarea {
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 8px;
  display: block;
  width: 350px;
  height: 150px;
  margin: 20px auto;
  font-family: "PT Serif", serif;
  resize: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "PT Serif", serif;

}
textarea:focus {
  box-shadow: 0px 0px 5px;
}
#inputSubmit {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(80, 80, 80);
  background-color: white;
  padding: 5px 10px;
  text-decoration: none;
  font-family: "PT Serif", serif;

  border-radius: 15px;
  border: 3px solid;
  border-top-style: none;
  border-left-style: none;
  border-right-color: rgba(230, 0, 233, 1);
  border-bottom-color: rgba(52, 90, 224, 1);
  box-shadow: 0px 0px 5px;
}
#inputSubmit:hover {
  box-shadow: 0px 0px 10px;
}

/* Media Break Points */
@media (max-width: 630px) {
  input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  textarea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*  Footer styling */

